#Some variables have default values as fallback if omitted,
#---please check joi src/config/validation.schema.ts

#You can create both .env for development and .env.production for production,
#---Nest will decide which one to load based on the current enviroment (run start:dev , run start:prod)
#---Note that docker compose is using .env by default

# Application
# (development / production)
NODE_ENV=development 
PORT=5000
CLIENT_URL=http://localhost:3000
BASE_URL=http://localhost:5000

# -------------JWT----------------
JWT_ACCESS_SECRET=access_token_secret
JWT_REFRESH_SECRET=refresh_token_secret
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d

# -------------------DATABASE (MAIN)---------------------
# Use a single connection string (Common for Production)
DATABASE_URL='main-db-connection-string-url'

#OR
# Use individual credentials (Common for Local Development)
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=your_db_name

DB_AUTO_LOAD_ENTITIES=true


#---------------------DATABASE (TEST)---------------------
DATABASE_TEST_URL='test-db-connection-string'
#OR
DB_TEST_HOST=localhost
DB_TEST_PORT=5434
DB_TEST_USER=your_test_db_user
DB_TEST_PASS=your_test_db_password
DB_TEST_NAME=your_test_db_name

#---------------------REDIS---------------------
# Use a single connection string (Common for Production)
REDIS_URL="rediss://connection-string"
#OR
# Use individual credentials (Common for Local Development)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

#Redis-Config
REDIS_ATTEMPTS=3
REDIS_BACKOFF_TYPE=exponential
REDIS_BACKOFF_DELAY=3000
DATA_RETENTION_CRON="0 3 * * *" # 3:00 Am
REDIS_REMOVE_ON_COMPLETE=true
REDIS_REMOVE_ON_FAIL=true

#NOTE: on_complete & on_fail are validated as boolean
#--if you need to keep specific count { count: 100 } , u need to modify joi validation & redis config

#-----------------OAuth2-----------------
GOOGLE_CLIENT_ID=your_google_client_db
GOOGLE_CLIENT_SECRET=your_google_client_secret

#-----------------EMAIL-----------------
BREVO_API_KEY=your_api_key
BREVO_SENDER_EMAIL="your-trusted-brevo-email"
BREVO_SENDER_NAME="Schedio"

#--------------MEDIA STORAGE------------
#CLOUDINARY
CLOUDINARY_URL=cloudinary://123xxxxxxxxxxx:A1-23xxx@abxxx
CLOUDINARY_CLOUD_NAME=abxxx
CLOUDINARY_API_KEY=123xxxxxxxx
CLOUDINARY_API_SECRET=A1-23xxx

